<!DOCTYPE html>
<html>
<body>

<h2>TO DO LIST Application</h2>

<p>This will make your life easy to manage:</p>

<form action="/form">
  <textarea name="to do list" style="width:600px; height:400px;"></textarea>
  <br>
  <input type="submit">
</form>

</body>
</html>