<!DOCTYPE html>
<html>
<body>

<h2>TO DO LIST Application</h2>

<p>This will make your life easy to manage:</p>

<form action="/display" method = post >
  <label for="list">To do list item</label><br>
  <input type="text" size="50" ><br><br>
  <input type="submit" value="Submit">
</form>

</body>
</html>